* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-image: url(img/lantern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

